body{
    font-family: Arial, sans-serif; 
    background: #f2f2f2; 
    padding: 20px;
    
}
h1, h2 {
    color: #333;

}

input[type=text], input[type=email], input[type=number], select { 
    padding: 8px; 
    margin-right: 10px; 
    width: 200px; 
}
button { padding: 8px 12px; 
    background: #28a745; 
    color: #fff; 
    border: none; 
    border-radius: 3px; 
    cursor: pointer; 
}
button:hover { 
    background: #218838; 
}
table { 
    width: 100%; 
    border-collapse: collapse; 
    background: #fff; 
}
th, td { 
    padding: 10px; 
    border-bottom: 
    1px solid #ccc; 
    text-align: left; 
}
th { 
    background: #007bff; 
    color: #fff; 
}
a.delete { 
    color: red; 
    text-decoration: none;
    padding: 5px; 
}
a.delete:hover { 
    text-decoration: underline; 
}
a.edit{
    color: black;
    text-decoration: none;
}
a.edit:hover{
    text-decoration: underline;
}
.alert {
    padding: 12px 16px;
    margin: 15px auto;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    width: fit-content;
    max-width: 100%;
}


.alert.success {
    background-color: #e6fffa;
    color: #065f46;
    border-left: 5px solid #10b981;
}


.alert.error {
    background-color: #fee2e2;
    color: #7f1d1d;
    border-left: 5px solid #ef4444;
}